body {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;

}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.header {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 0;

}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

h3 {
    font-size: 24px;
    color: #f9faf8;
}

h4 {
    font-size: ;
}