body {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;

}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.header {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;

}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9faf8;
    padding: 0px 50px 100px;
    
}

.info-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px 100px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    padding: 50px 100px;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    background-color: #f9faf8;
    padding: 50px 100px;
}

.cta-banner {
    background: #3882f6;
    flex-shrink: 0;
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 0px 40px;
}

.cta-text {
    background: #3882f6;
    padding: 0px 0px 40px 40px;
    color: #e5e7eb
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
    padding: 16px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

h3 {
    font-size: 24px;
    color: #f9faf8;
    padding: 0;
}

h4 {
    font-size: ;
}