body {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 14px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

i {
    font-size: 48px;
    color: #3882f6;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    border: 0;
    color: #f9faf8;
    padding: 5px 20px;
    
}

.code,
.details,
.users,
.magic {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.header {
    font-size: 14px;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;

}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    font-size: 14px;
    color: #e5e7eb;
    gap: 30px;
    
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: #f9faf8;
    padding: 50px 100px;
    font-size: 14px;
}

.info-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px 100px;
}

.testimony {
    display: flex;
    flex-direction: column;
    
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    padding: 50px 100px;
}

.cite {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 14px;
    padding-top: 0;
    margin-top: 0;
}
    

.call-to-action {
    display: flex;
    gap: 20px;
    background-color: #f9faf8;
    padding: 50px 100px;
}

.container {
    background: #3882f6;
    border-radius: 5px;
}

.cta-banner {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #f9faf8;
    width: 800px;
    padding: 50px 50px 0px 50px;
}

.cta-text {
    font-size: 14px;
    color: #e5e7eb;
    padding-left: 50px;
    padding-bottom: 50px;
}

.cta-button {
    border: 2px solid #f9faf8;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
    padding: 16px;
    font-size: 14px;
}

h1 {
    color: #f9faf8;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 24px;
    color: #1f2937;
    font-weight: 900;
}

h3 {
    font-size: 18px;
    color: #f9faf8;
    padding: 0;
}
